<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * Copyright (c) 2005 IBM Corporation and others.
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *   IBM - Initial API and implementation
 */
-->
<plugin>

     <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.emf.validation.examples.adapter.Startup"/>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.emf.validation.examples.adapter.expressions.EObjectPropertyTester"
         type="org.eclipse.emf.ecore.EObject"
         namespace="org.eclipse.emf.validation.examples.adapter"
         properties="ePackage"
         class="org.eclipse.emf.validation.examples.adapter.expressions.EObjectPropertyTester">
      </propertyTester>
   </extension>
   
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="org.eclipse.emf.validation.examples.adapter">
         <enablement>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <test
                  property="org.eclipse.emf.validation.examples.adapter.ePackage"
                  value="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
            </and>
         </enablement>
      </clientContext>
      
      <binding
         context="org.eclipse.emf.validation.examples.adapter"
         category="emf-validation-example"/>
   </extension>
   
   <!-- Define a constraint that we can use to demonstrate this adapter. -->
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%category.name"
            id="emf-validation-example/adapter">
         %category.description
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
         
         <constraints categories="emf-validation-example/adapter">
            <constraint
                  lang="Java"
                  severity="INFO"
                  mode="Batch"
                  name="%example1.name"
                  id="example1"
                  statusCode="201"
                  class="org.eclipse.emf.validation.examples.adapter.constraints.ExampleConstraint">
               <description>%example1.desc</description>
               <message>%example1.msg</message>
               <!-- This constraint applies to any library element. -->
               <target class="Library"/>
               <target class="Writer"/>
               <target class="Book"/>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
