<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * Copyright (c) 2005, 2008 IBM Corporation, Zeligsoft Inc., and others.
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *   Zeligsoft - Bugs 249496, 252302
 */
-->
<plugin>

     <extension point="org.eclipse.emf.ecore.generated_package">
      <package uri="http:///ordersystem.ecore" class="ordersystem.OrderSystemPackage">
      </package>
      <package uri="http:///ordersystem/special.ecore" class="ordersystem.special.SpecialPackage">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated order -->
      <package
            uri="http:///ordersystem/special.ecore"
            class="ordersystem.special.SpecialPackage"
            genModel="model/order.genmodel"/>
   </extension>
       
   <extension name="Marker constraint for Order System namespace" point="org.eclipse.emf.validation.constraintProviders">
      <category id="junit" name="JUnit Unit Testing Test Constraints"/>
      <category id="junit/validation" name="EMF Model Validation Test Constraints"/>
      <category id="junit/validation/framework" name="Framework tests"/>
      <category id="junit/validation/java" name="Java constraint tests"/>
      <category id="junit/validation/ocl" name="OCL constraint tests"/>
      <category id="junit/validation/bsh" name="BeanShell constraint tests"/>

      <constraintProvider>
         <package namespaceUri="http:///ordersystem.ecore" />
         <package namespaceUri="http:///ordersystem/special.ecore" />
         <constraints categories="junit/validation">
            <constraint name="Test of constraints in intermediate categories in the tree" statusCode="1" lang="OCL" id="intermediate.category.constraint">
               <message>
                  Nothing to say.
               </message>
               <target class="InventoryItem">
               </target>
               true
            </constraint>
         </constraints>
         <constraints categories="junit/validation/framework">
            <constraint name="OrderSystem Marker" statusCode="1" lang="OCL" id="ordersystem.marker">
               <message>
                  Nothing to say.
               </message>
               <target class="Address">
               </target>
               true
            </constraint>
            <constraint name="Order has at least one line item" statusCode="1" mode="Batch" lang="OCL" id="order.hasContents">
               <message>
                  Nothing to say.
               </message>
               <target class="Order">
               </target>
               true
            </constraint>
            <constraint name="Line Item has an Order" statusCode="1" mode="Batch" lang="OCL" id="item.hasOrder">
               <message>
                  Nothing to say.
               </message>
               <target class="LineItem">
               </target>
               true
            </constraint>
            <constraint name="Address has a Street" statusCode="1" mode="Live" lang="OCL" id="address.hasStreet">
               <message>
                  Nothing to say.
               </message>
               <target class="Address">
               </target>
               true
            </constraint>
            <constraint name="Order not filled before it was placed" statusCode="1" mode="Batch" lang="OCL" id="order.notFilledBeforePlacement">
               <message>
                  Nothing to say.
               </message>
               <target class="Order">
               </target>
               true
            </constraint>
            <constraint name="Limited edition can be included in special order" statusCode="1" mode="Live" lang="OCL" id="limitedEdition.canIncludeInSpecial">
               <message>
                  Nothing to say.
               </message>
               <target class="LimitedEditionProduct">
                  <customEvent name="Special Order">
                  </customEvent>
               </target>
               true
            </constraint>
            <constraint name="Limited Edition Product has dates set" statusCode="1" mode="Live" lang="OCL" id="limitedEdition.hasDates">
            <message>
                  Nothing to say.
               </message>
               <target class="LimitedEditionProduct">
               </target>
               true
            </constraint>         
            <constraint name="Order has a name" statusCode="1" mode="Live" lang="OCL" id="order.hasName">
               <message>
                  Nothing to say.
               </message>
               <target class="Order">
                  <event name="Set">
                  </event>
               </target>
               true
            </constraint>
            <constraint name="A multi-constraint" statusCode="1" mode="Batch" lang="Java" id="order.multiConstraint" class="org.eclipse.emf.validation.tests.MultiConstraint">
               <message>
                  {0}
               </message>
               <target class="Order">
               </target>
            </constraint>
            <constraint name="A set target constraint" statusCode="1" mode="Batch" lang="Java" id="order.setTargetConstraint" class="org.eclipse.emf.validation.tests.SetTargetConstraint">
               <message>
                  {0}
               </message>
               <target class="Order">
               </target>
            </constraint>
            <constraint name="A CANCEL severity constraint" severity="CANCEL" statusCode="1" mode="Live" lang="Java" id="order.cancelConstraint" class="org.eclipse.emf.validation.tests.CancelConstraint">
               <message>
                  {0}
               </message>
               <target class="Order">
               </target>
            </constraint>
            <constraint name="Test new language parser API" statusCode="1" mode="Batch" lang="***test-lang***" id="order.newParserAPI">
               <message>
                  {0}
               </message>
               <target class="Order">
               </target>
               <param name="testparm" value="XML provider worked"/>
            </constraint>
            <constraint name="Order has an owner" statusCode="1" mode="Live" lang="OCL" id="order.hasOwner">
               <message>
                  Nothing to say.
               </message>
               <target class="Order">
                  <event name="Set">
                  </event>
               </target>
               true
            </constraint>
            <constraint name="Test of lazy instantiation" statusCode="1" class="org.eclipse.emf.validation.tests.LazyTestModelConstraint" mode="Live" lang="Java" id="lazy.marker">
               <message>
                  Nothing to say.
               </message>
               <target class="Warehouse">
                  <event name="Remove"/>
               </target>
            </constraint>
            <constraint name="Incorrect constraint declaration" statusCode="1" mode="Batch" lang="OCL" id="bad.constraint.xml">
               <target class="Warehouse">
               </target>
            </constraint>
            <!-- Warning on this constraint about class not found is intended
                 (a unit test checks that this condition is handled properly). -->
            <constraint name="Disabled Java constraint" statusCode="1" class="org.eclipse.emf.validation.tests.ThisClassDoesNotExist" mode="Batch" lang="Java" id="bad.constraint.disabled.java">
               <message>
                  Nothing to say.
               </message>
               <target class="Warehouse">
               </target>
            </constraint>
            <constraint name="Disabled OCL constraint" statusCode="1" mode="Batch" lang="OCL" id="bad.constraint.disabled.ocl">
               <message>
                  Nothing to say.
               </message>
               <target class="Warehouse">
               </target>
               foo = &apos;bar&apos;
            </constraint>
            <constraint name="Disabled Bsh constraint" statusCode="1" mode="Batch" lang="Bsh" id="bad.constraint.disabled.bsh">
               <message>
                  Nothing to say.
               </message>
               <target class="Warehouse">
               </target>
               // the foo() method is not defined on the type &apos;Warehouse&apos;
success = target.foo()
            </constraint>
            <constraint name="Constraint Throwing Runtime Exception" statusCode="1" class="org.eclipse.emf.validation.tests.ThrowsConstraint" mode="Batch" lang="Java" id="bad.constraint.disabled.runtime">
               <message>
                  Nothing to say.
               </message>
               <target class="Warehouse">
               </target>
               foo = &apos;bar&apos;
            </constraint>
            <constraint name="Tests merging of notifications" statusCode="1" class="org.eclipse.emf.validation.internal.service.impl.tests.LiveValidatorTest$NotificationMergingTestConstraint" mode="Live" lang="Java" id="merge.notifications">
               <message>
                  Nothing to say.
               </message>
               <target class="OrderSystem">
                  <event name="Add">
                     <feature name="customer" />
                  </event>
                  <event name="Add Many">
                     <feature name="customer" />
                  </event>
                  <event name="Remove">
                     <feature name="customer" />
                  </event>
                  <event name="Remove Many">
                     <feature name="customer" />
                  </event>
                  <event name="Move">
                     <feature name="customer" />
                  </event>
                  <event name="Set">
                     <feature name="version" />
                  </event>
                  <event name="Removing Adapter" />
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension name="Test problems in XML for constraint provider" point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider class="org.eclipse.emf.validation.tests.TestBadXmlConfigProvider">
         <package namespaceUri="http://www.eclipse.org/emf/2002/Ecore" />
      </constraintProvider>
   </extension>
   <extension name="Test run-time problems in constraint provider" point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider class="org.eclipse.emf.validation.tests.TestBadXmlConfigProvider">
         <package namespaceUri="http:///ordersystem.ecore" />
         <constraints categories="test/framework">
         </constraints>
      </constraintProvider>
   </extension>
   <extension name="Test constraint cache" point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider class="org.eclipse.emf.validation.tests.CachedTestProvider">
         <package namespaceUri="http:///ordersystem.ecore" />
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider cache="false" class="org.eclipse.emf.validation.internal.xml.tests.XmlConstraintProviderTest$Fixture">
         <package namespaceUri="http:///ordersystem.ecore" />
         <constraints categories="junit/validation/framework">
            <constraint name="A batch Product constraint" statusCode="1" mode="Batch" lang="OCL" id="product.batch1">
               <message>
                  Nothing to say.
               </message>
               <target class="Product">
               </target>
               true
            </constraint>
            <constraint name="Another batch Product constraint" statusCode="1" mode="Batch" lang="OCL" id="product.batch2">
               <message>
                  Nothing to say.
               </message>
               <target class="Product">
               </target>
               true
            </constraint>
            <constraint name="A live Product constraint" statusCode="1" mode="Live" lang="OCL" id="product.live1">
               <message>
                  Nothing to say.
               </message>
               <target class="Product">
                  <event name="Set"/>
               </target>
               true
            </constraint>
            <constraint name="Live Product constraint on &apos;sku&apos; feature" statusCode="1" mode="Live" lang="OCL" id="product.live2">
               <message>
	               Nothing to say.
	           </message>
	           <target class="Product">
	              <event name="Set">
	                 <feature name="sku"/>
	              </event>
	           </target>
	           true
	        </constraint>
            <constraint
                  id="validOrderId"
                  lang="OCL"
                  mode="Live"
                  name="Orders must have valid ID&apos;s"
                  severity="ERROR"
                  statusCode="1">
               <target class="Order">
                  <event name="Set">
                     <feature name="id"/>
                  </event>
               </target>
               <message>
                  This is a message.
               </message>
               self.id &lt;&gt; &apos;id&apos;
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider mode="Batch" cache="false">
         <package namespaceUri="http:///ordersystem.ecore" />
         <target class="InventoryItem">
         </target>
         <constraints categories="junit/validation/framework">
            <constraint name="Batch Constraint for Provider Batch Targets Testing" mode="Batch" statusCode="1" lang="OCL" id="providertarget.batch1">
               <message>
                  Nothing to say.
               </message>
               true
            </constraint>
            <constraint name="Live Constraint for Provider Batch Targets Testing" mode="Live" statusCode="1" lang="OCL" id="providertarget.live1">
               <message>
                  Nothing to say.
               </message>
               true
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider cache="false">
         <package namespaceUri="http:///ordersystem.ecore" />
         <constraints categories="junit/validation/framework">
            <constraint
                  id="defaultTestNotActiveConstraint"
                  isEnabledByDefault="false"
                  lang="OCL"
                  mode="Batch"
                  name="Constraint which is inactive per default"
                  statusCode="1">
               <target
                     class="Order">
                  <event
                        name="Set">
                     <feature
                           name="id">
                     </feature>
                  </event>
               </target>
               <message>
                  This is a message.
               </message>
               self.id &lt;&gt; &apos;id_inactivetest&apos;
            </constraint>
            <constraint
                  id="defaultTestActiveConstraint"
                  isEnabledByDefault="true"
                  lang="OCL"
                  mode="Batch"
                  name="Constraint which is active per default"
                  statusCode="1">
               <target
                     class="Order">
                  <event
                        name="Set">
                     <feature
                           name="id">
                     </feature>
                  </event>
               </target>
               <message>
                  This is a message.
               </message>
               self.id &lt;&gt; &apos;id_inactivetest&apos;
            </constraint>
            <constraint
                  id="defaultTestConstraintWithoutDefaultEnablementInformation"
                  lang="OCL"
                  mode="Batch"
                  name="Constraint which has no default activation information"
                  statusCode="1">
               <target
                     class="Order">
                  <event
                        name="Set">
                     <feature
                           name="id">
                     </feature>
                  </event>
               </target>
               <message>
                  This is a message.
               </message>
               self.id &lt;&gt; &apos;id_inactivetest&apos;
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider mode="Live" cache="false">
         <package namespaceUri="http:///ordersystem.ecore" />
         <target class="InventoryItem">
            <event name="Set"/>
         </target>
         <constraints categories="junit/validation/framework">
            <constraint name="Batch Constraint for Provider Live Targets Testing" mode="Batch" statusCode="1" lang="OCL" id="providertarget.batch2">
               <message>
                  Nothing to say.
               </message>
               true
            </constraint>
            <constraint name="Live Constraint for Provider Live Targets Testing" mode="Live" statusCode="1" lang="OCL" id="providertarget.live2">
               <message>
                  Nothing to say.
               </message>
               true
            </constraint>
         </constraints>
      </constraintProvider>
      
      <!-- Tests for multi-package support -->
      <constraintProvider>
         <package namespaceUri="http:///ordersystem.ecore" />
         <package namespaceUri="http:///ordersystem/special.ecore" />
         <constraints categories="junit/validation/framework">
            <constraint name="Multiple Packages Test" mode="Batch" statusCode="1" lang="OCL" id="multipackage.test">
               <message>Nothing to say.</message>
               <target class="PreferredCustomer" />
               true
            </constraint>
            <constraint name="Constraint Inheritance Test" mode="Batch" statusCode="1" lang="OCL" id="inheritance.test">
               <message>Nothing to say.</message>
               <target class="Product" />
               true
            </constraint>
            <constraint name="Qualified Test" mode="Batch" statusCode="1" lang="OCL" id="qualifiedName.test">
               <message>Nothing to say.</message>
               <target class="ordersystem.special.LimitedEditionProduct" />
               true
            </constraint>
            <!-- Deliberately declared duplicate constraint for bug 207988. -->
            <constraint name="Qualified Test" mode="Batch" statusCode="1" lang="OCL" id="qualifiedName.test">
               <message>Nothing to say.</message>
               <target class="ordersystem.special.LimitedEditionProduct" />
               true
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   <!-- This extension is purely for the purpose of testing the include mechanism.
        It is not meant to be correctly formed.  The warning about &quot;constraints&quot; not
        being a legal child is OK. -->
   <extension point="org.eclipse.emf.validation.constraintProviders" id="test-include">
      <constraints>
         <include path="include_files/test.xml"/>
      </constraints>
   </extension>
   
   <!-- In order for the JUnit constraints to be evaluated, we must bind them to
        some client context.  This context is best implemented with an expression
        that is true only while this test plug-in is running, as we don't want to
        interfere with the operation of a run-time workbench that happens to include
        this plug-in in its config.  It needs also to be a default context for
        dynamic constraints.  Note that this effectively tests the following
        functional attributes of the client context constraint binding:
          - inherited category binding
          - "direct" category binding (by cached results of hierarchical binding) 
          - "direct" constraint binding (by cached results of category binding)
          - default context binding (as some dynamically created constraints
               are necessarily unbound)
   -->
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.eclipse.emf.validation.tests.junit"
            default="true">
          <enablement>
            <test property="org.eclipse.emf.validation.tests.runningTests"/>
         </enablement>
      </clientContext>
      <binding context="org.eclipse.emf.validation.tests.junit">
         <category ref="junit"/>
         <category ref="test"/>
      </binding>
   </extension>
   
   <!-- Property tester for determining whether our tests are running. -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.emf.validation.tests.ValidationTestsPropertyTester"
         type="org.eclipse.emf.ecore.EObject"
         namespace="org.eclipse.emf.validation.tests"
         properties="runningTests"
         class="org.eclipse.emf.validation.tests.ValidationTestsPropertyTester">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.emf.validation.validationListeners">
      <listener class="org.eclipse.emf.validation.internal.service.tests.UniversalValidationListener"/>
      <listener class="org.eclipse.emf.validation.internal.service.tests.ClientContextValidationListener">
         <clientContext
               id="org.eclipse.emf.validation.tests.junit"/>
      </listener>
   </extension>
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="org.eclipse.emf.validation.tests.junit"/>
   </extension>
   
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider cache="false" class="org.eclipse.emf.validation.internal.service.tests.ParameterizedConstraintParserTest$Provider">
         <package namespaceUri="http:///ordersystem.ecore" />
      </constraintProvider>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintParsers">
      <constraintParser
            class="org.eclipse.emf.validation.internal.service.tests.ParameterizedConstraintParserTest$Parser"
            lang="***test-lang***">
      </constraintParser>
   </extension>
   <extension
         point="org.eclipse.emf.validation.eventTypes">
      <eventType
            featureSpecific="false"
            name="Special Order"
            notificationGenerator="org.eclipse.emf.validation.internal.model.tests.SpecialOrderNotificationGenerator">
      </eventType>
      <eventType
            featureSpecific="true"
            name="No notification Generator event">
      </eventType>
   </extension>
   <extension
         point="org.eclipse.emf.validation.traversal">
      <traversalStrategy
            class="org.eclipse.emf.validation.internal.service.tests.ModelValidationServiceTest$TestTraversalStrategy"
            namespaceUri="http:///ordersystem/special.ecore">
         <eclass
               name="PreferredCustomer">
         </eclass>
      </traversalStrategy>
   </extension>
   
   <!-- Constraints only used for client-context inclusion/exclusion testing -->
   <extension name="Contraints for client-context testing" point="org.eclipse.emf.validation.constraintProviders">
     <category id="clientContextTest" name="JUnit Client Context Testing Context"/>
     <category id="clientContextTest/one" name="First level of nesting"/>
     <category id="clientContextTest/one/two" name="Second level of nesting"/>
     <category id="clientContextTest/one/twoA" name="Second level of nesting (A)"/>
     <category id="clientContextTest/one/two/three" name="Third level of nesting"/>
     <category id="clientContextTest/one/two/threeA" name="Third level of nesting (A)"/>
     <constraintProvider>
         <package namespaceUri="http://www.eclipse.org/emf/2002/Ecore" />
         <constraints categories="clientContextTest/one">
            <constraint name="Dummy1.1" statusCode="1" lang="OCL" id="clientContext.1.1">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
            <constraint name="Dummy1.2" statusCode="1" lang="OCL" id="clientContext.1.2">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
         </constraints>
         <constraints categories="clientContextTest/one/two">
            <constraint name="Dummy2.1" statusCode="1" lang="OCL" id="clientContext.2.1">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
            <constraint name="Dummy2.2" statusCode="1" lang="OCL" id="clientContext.2.2">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
         </constraints>
         <constraints categories="clientContextTest/one/twoA">
            <constraint name="Dummy2a.1" statusCode="1" lang="OCL" id="clientContext.2a.1">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
            <constraint name="Dummy2a.2" statusCode="1" lang="OCL" id="clientContext.2a.2">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
         </constraints>
         <constraints categories="clientContextTest/one/two/three">
            <constraint name="Dummy3.1" statusCode="1" lang="OCL" id="clientContext.3.1">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
            <constraint name="Dummy3.2" statusCode="1" lang="OCL" id="clientContext.3.2">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
         </constraints>
         <constraints categories="clientContextTest/one/two/threeA">
            <constraint name="Dummy3a.1" statusCode="1" lang="OCL" id="clientContext.3a.1">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
            <constraint name="Dummy3a.2" statusCode="1" lang="OCL" id="clientContext.3a.2">
               <message>Nothing to say.</message>
               <target class="EAnnotation"/>
               true
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <!-- Constraint bindings used for inclusion/exclusion testing -->
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <binding context="org.eclipse.emf.validation.tests.testcontext">
         <category ref="clientContextTest/one"/>
         <excludeCategory ref="clientContextTest/one/two"/>
         <extendClientContext ref="org.eclipse.emf.validation.tests.testContextToExtend"/>
         <excludeConstraint ref="org.eclipse.emf.validation.tests.clientContext.1.1"/>
         <excludeConstraint ref="org.eclipse.emf.validation.tests.clientContext.2a.1"/>
         <constraint ref="org.eclipse.emf.validation.tests.clientContext.2.2"/>
         <constraint ref="org.eclipse.emf.validation.tests.clientContext.3a.2"/>
      </binding>
      <binding context="org.eclipse.emf.validation.tests.testContextToExtend">
         <category ref="clientContextTest/one/two/three"/>
      </binding>
   </extension>
   <!-- Client contexts only used for inclusion/exclusion testing -->
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.eclipse.emf.validation.tests.testContextToExtend">
          <enablement>
            <systemTest property="BOGUS_SYSTEM_PROPERTY" value="1"/>
         </enablement>
      </clientContext>
      <clientContext
            id="org.eclipse.emf.validation.tests.testcontext">
          <enablement>
            <systemTest property="BOGUS_SYSTEM_PROPERTY" value="1"/>
         </enablement>
      </clientContext>
   </extension>
   <extension
         point="org.eclipse.emf.validation.modeledConstraintProviders">
      <provider
            constraintResourceUri="platform:/plugin/org.eclipse.emf.validation.tests/model/order.validation">
      </provider>
   </extension>
</plugin>
