<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="emf-validation-2022-09" sequenceNumber="1660142140">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <repository id="Eclipse-4.25" location="https://download.eclipse.org/eclipse/updates/4.25/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <repository id="EMF-2.31" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.31"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <repository id="OCL-6.17" location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.17.1/"/>
    </location>
  </locations>
</target>
