<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="emf-validation-canary" sequenceNumber="1660142146">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <repository id="Eclipse-I" location="https://download.eclipse.org/eclipse/updates/I-builds/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <repository id="EMF-I" location="https://download.eclipse.org/modeling/emf/emf/builds/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <repository id="OCL-I" location="https://download.eclipse.org/modeling/mdt/ocl/updates/nightly/latest/"/>
    </location>
  </locations>
</target>
