<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="emf-validation-2020-03" sequenceNumber="1630756934">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository id="Eclipse-Shared-License" location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="4.15.0.I20200305-0155"/>
      <unit id="org.eclipse.test.feature.group" version="3.7.1000.v20200218-1202"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="4.15.0.v20200305-0155"/>
      <unit id="org.eclipse.platform.ide" version="4.15.0.I20200305-0155"/>
      <repository id="Eclipse-4.15" location="https://download.eclipse.org/eclipse/updates/4.15/R-4.15-202003050155/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="2.16.0.v20190920-0401"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="2.17.0.v20191220-1011"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.21.0.v20200205-0529"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.14.0.v20190822-1451"/>
      <repository id="EMF-2.21" location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.21"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="3.14.2.v20200309-0848"/>
      <repository id="OCL-6.11" location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.11.0/"/>
    </location>
  </locations>
</target>
