<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="emf-validation-2020-06" sequenceNumber="1630756934">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="4.16.0.I20200604-0540"/>
      <unit id="org.eclipse.test.feature.group" version="3.7.1100.v20200513-0959"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="4.16.0.v20200604-0540"/>
      <unit id="org.eclipse.platform.ide" version="4.16.0.I20200604-0540"/>
      <repository id="Eclipse-4.16" location="https://download.eclipse.org/eclipse/updates/4.16/R-4.16-202006040540/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="2.16.0.v20190920-0401"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="2.18.0.v20200518-1440"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.14.0.v20190822-1451"/>
      <repository id="EMF-2.22" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.22"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="3.14.3.v20200608-1555"/>
      <repository id="OCL-6.12" location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.12.0/"/>
    </location>
  </locations>
</target>
