<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="emf-validation" sequenceNumber="104">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.7.0.I20160915-0230"/>
<unit id="org.eclipse.test.feature.group" version="3.7.100.v20160912-1145"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.7.0.v20160915-0230"/>
<unit id="org.eclipse.platform.ide" version="4.7.0.I20160915-0230"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/S-4.7M2-201609150230/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.11.0.v20160526-0356"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20160526-0356"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20160916162009/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.feature.group" version="3.6.0.v20160523-1914"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.2.0.v20160516-0939"/>
<unit id="org.eclipse.uml2.common.feature.group" version="2.1.0.v20160516-0939"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.10.0.201606071713"/>
<repository location="http://download.eclipse.org/modeling/emf/validation/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
</target>
