<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="luna" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.2.0.v20131111-0727"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/4.2milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.source.feature.group" version="3.10.0.v20131030-2000"/>
<unit id="org.eclipse.test.feature.group" version="3.6.0.v20131025-1404"/>
<unit id="org.eclipse.platform.ide" version="4.4.0.I20131030-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="4.2.0.v20130921-0708"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20131205-0850"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.9.0.v20131205-0850"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20131205-0850"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.8.0.v20131205-0850"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/nightly"/>
</location>
</locations>
</target>