<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="luna" sequenceNumber="26">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20131212-1600"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.10.0.v20131210-2136"/>
<unit id="org.eclipse.test.feature.group" version="3.6.0.v20131025-1404"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.4.0.v20131212-2208"/>
<unit id="org.eclipse.platform.ide" version="4.4.0.I20131212-1600"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="4.2.0.v20131202-1504"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.2.0.v20131216-0905"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/4.2milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20131216-0403"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.9.0.v20131216-0403"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20131216-0403"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.8.0.v20131216-0403"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20131206110810/repository/"/>
</location>
</locations>
</target>