<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="luna" sequenceNumber="39">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140606-1215"/>
<unit id="org.eclipse.test.feature.group" version="3.6.100.v20140528-1640"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.4.0.v20140606-1726"/>
<unit id="org.eclipse.platform.ide" version="4.4.0.I20140606-1215"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140519-0339"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.feature.group" version="3.4.0.v20140524-1508"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/5.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140519-1951"/>
<unit id="org.eclipse.uml2.common.feature.group" version="2.0.0.v20140519-1951"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.0milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201405051541"/>
<repository location="http://download.eclipse.org/modeling/emf/validation/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
</target>