<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * Copyright (c) 2005 IBM Corporation and others.
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *   IBM - Initial API and implementation
 */
-->
<plugin>
     <extension
         point="org.eclipse.emf.validation.constraintParsers">
      <constraintParser
            class="org.eclipse.emf.validation.internal.ocl.OCLConstraintParser"
            lang="OCL">
      </constraintParser>
   </extension>
</plugin>
